body {
  margin: 0 auto;
  font: 100%/1.6 Arial,sans-serif;
}

a {
  text-decoration: none;
  color: #4c4c4c;
}

a:hover {
  color: #bada55;
}

/* Start smaller screens */

.container{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 600px 50px;
  /* Initially each element has its own row for small screens */
  grid-template-areas:
  "hd"
  "sd"
  "main"
  "ft";
  border: 2px solid yellow;
}

/* End smaller screens */

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    background: #F8FA9D;
    }

.logo {
    border: 0;
    grid-area: lg;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
  }


#menu {
  grid-area: mn;
  display: flex;
  align-items: center;
  }

#menu ul {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    list-style-type: none;
  }

#menu ul li {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }

.title {
    grid-area:tl;
    background-color: #eee;
    border-bottom: solid 1px #dce3e5;
    border-top: solid 1px #dce3e5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

h1 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}

h2 {
    margin: 5px 0;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

h3 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}

.site-footer{
    grid-area: ft;
  }

.sidebar{
    grid-area: sd;
    display: flex;
    justify-content: center;
    border: 0;
    background: #fff;
  }

#links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    width: 90%;
    height: 140px;
    border-radius: 8px;
}

#links ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.content{
    grid-area: main;
  }

/* If Screen Is Wide Enough */
@media(min-width:768px) {
.container{
      display: grid;
      align-content: center;
      grid-template-columns: 256px 256px 256px;
      grid-template-rows: 100px 160px 600px 50px;
      /* row start/column start/ row end/ column end */
      grid-template-areas:
      "lg mn mn mn"
      "tl tl tl tl"
      "sd main main main"
      "ft ft ft ft";
      border: 2px solid blue;
  }
}

@media(min-width:768px) {
.article-grid{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 52% 52% 52%;
  grid-gap: 10px;
  }
}

.article-preview {
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
}

.article-preview p {
  margin: 5px 0;
}
